DB_NAME=user_reading
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
TEST_DB_URL=postgres://postgres:@localhost:5432/test_user_reading?sslmode=disable
USERS_SERVICE_HOST=http://users:8080
LIBRARY_SERVICE_HOST=http://library:8080
CORS_ALLOWED_ORIGIN=http://localhost:5173
LIBRARY_BOOKS_CACHE_ENABLE=false
LIBRARY_BOOKS_CACHE_CLEANUP_PERIOD_MIN=60
LIBRARY_BOOKS_CACHE_CLEANUP_OLD_THRESHOLD_MIN=60
